# Pliki i katalogi generowane przez CMake
/build/
/build/*
/build-release/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile

# Pliki binarne
*.exe
*.out
*.a
*.lib
*.so
*.dll

# Pliki VS Code
/.vscode/
*.code-workspace

# Pliki tymczasowe systemowe
*.tmp
*.log
.DS_Store
Thumbs.db

# Pliki backupowe i swap
*.bak
*.swp
