# Pliki i katalogi generowane przez CMake
/build/
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile

# Pliki binarne
*.exe
*.out
*.a
*.lib
*.so
*.dll

# Pliki VS Code
/.vscode/

# Pliki tymczasowe systemowe
*.tmp
*.log
.DS_Store
Thumbs.db

# Pliki backupowe i swap
*.bak
*.swp
